<div class="container">
    <div class="notifications">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
    </div>
    <div class="main_view">
        <img src="<%= asset_path("top_image.png") %>", size: '50x100', class="hoge">
        <p>VENUE VOYAGE</p>
    </div>
    <div class="introduction">
        <p>VENUE VOYAGE "V2" へようこそ。</p>
        <p>このサイトでは関東で催されるさまざまなイベントや、</p>
        <p>その会場のことについて知ることができます。</p>
        <p>会員登録をすれば、会場についての</p>
        <p>レビューを書くことができます。</p>
    </div>
</div>
<div class="text-right">
    <%= link_to "社員ログイン", new_worker_session_path %>
    <%= link_to "管理者ログイン", new_admin_session_path %>
</div>






