<div class="container">

  <div class="main_view">
    <img src="<%= asset_path("top_image") %>", size: '50x100', class="hoge">
    <p>VENUE VOYAGE</p>
  </div>
  <div class="introduction">
    <p>VENUE VOYAGE "V2" へようこそ。</p>
    <p>このサイトでは関東で催されるさまざまなイベントや、</p>
    <p>その会場のことについて知ることができます。</p>
    <p>会員登録をすれば、会場についての</p>
    <p>レビューを書くことができます。</p>
  </div>




</div>








