<div class="container p-3">
    <h1>申請一覧</h1>
    <!--タブの表示-->
    <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          マイ申請
        </li>
        <li class="tab">
          全社員の申請
        </li>
    </ul>
    <!--タブによって選択された部分テンプレート-->
    <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'my_request_index', requests: @my_requests %>
        </div>
        <div class="tabbox">
          <%= render 'request_index', requests: @requests %>
        </div>
        </div>
    <%= link_to "新規申請", new_worker_request_path, class: "btn btn-success" %>
    <%= link_to "社員トップ", worker_top_path, class: "btn btn-primary" %>
</div>

