/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
}
.information {
    margin: 0;
    text-align: right;
    padding: 2px 40px;
    background-color: #f33123;
    color: white;
    font-weight: bold;
}

header {
    padding: 30px 4% 10px;
    top: 0;
    width: 100%;
    background-color: #fff;
    align-items: center;
}

// .element {
//   text-decoration: none;
//   color: #4b4b4b;
// }

// .logo {
//   font-size: 50px;
// }

.header-content {
   margin: 0; padding: 0;
   font-size: 20px;
   text-decoration: none;
   color: #4b4b4b;
   display: flex;
}

ul {
   list-style: none;
   margin: 0;
   display: flex;
   gap: 20px;
}

// li {
//   margin: 0 0 0 15px;
// }

nav {
   margin: 0 0 0 auto;
}


.table-layout {
  border: 1px solid lightgray ;
  padding: 10px;
  font-weight: 600;
  flex: 1;
  margin: 0;

}

.nested-fields {
  display: flex;
 border-bottom: 1px solid lightgray ;
 border-right: 1px solid lightgray ;
 border-left: 1px solid lightgray ;

}

.child-field {
  flex: 1;
}

.ground-child-field{
  margin:  10px 10px 0px 10px;
}


// タブ切り替えのレイアウト
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
.tabbox {
  display: none;
  padding: 15px;
}
.box-show {
  display: block;
}
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
.tab-list {
  display: flex;
}